.cve-id-request {
  .help-button,
  .close-help-button {
    cursor: pointer;
  }

  .help-state-toggle-enter-active {
    transition: all 0.8s ease;
  }

  .help-state-toggle-leave-active {
    transition: all 0.5s ease;
  }

  .help-state-toggle-enter,
  .help-state-toggle-leave-active {
    opacity: 0;
  }

  .cve-id-request-help-state {
    background: $white;
    margin: 16px -20px -20px;
    padding: 16px 20px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    a:hover {
      color: $gray-500;
    }
  }
}

.ai-summary-card {
  h2 {
    margin-top: 0;
  }
}
